 
 h1{
    text-align: center;
}
 ul{
    text-align: center;
    list-style: none
 } 
 .row{
    text-align: center;
 } 
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #03DAC6;
    border-color: #000063;
    margin-bottom: 15px;
}
